*{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}






body { /* Gemini aided me with finding this webpage I learnt how to provide the path to the parent DIR without typing the full path https://stackoverflow.com/questions/8783026/css-background-image-in-a-different-folder-from-css */

background-image: url("../media/background05.jpg");

    
}




.Heading2 {

    color: black;
}


.Heading3 {
color: black;

}

.Heading4 {

    color: black;
}



h1 {

    color: black;
}


h2 {

    color: black;
}



.Homepagelink {

color: black;
}

.Gameslink {

color: black;
}

.Contactlink {

color: black;
}